<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Journey"
        tools:targetApi="31">
        <activity
            android:name=".PiplupSavedEnd"
            android:exported="false" />
        <activity
            android:name=".GiovanniDefeatScene"
            android:exported="false" />
        <activity
            android:name=".MegaCharizardBattle"
            android:exported="false" />
        <activity
            android:name=".GiovanniPokemonPick"
            android:exported="false" />
        <activity
            android:name=".LucarioBattle"
            android:exported="false" />
        <activity
            android:name=".GiovanniTalk"
            android:exported="false" />
        <activity
            android:name=".GiovanniGlimpseScene"
            android:exported="false" />
        <activity
            android:name=".BattleDefeatJames"
            android:exported="false" />
        <activity
            android:name=".MegaSwampertBattle"
            android:exported="false" />
        <activity
            android:name=".SalamenceBattle"
            android:exported="false" />
        <activity
            android:name=".JamesPokemonPick"
            android:exported="false" />
        <activity
            android:name=".BattleJames"
            android:exported="false" />
        <activity
            android:name=".ScizorBattle"
            android:exported="false" />
        <activity
            android:name=".BattleDefeatJessie"
            android:exported="false" />
        <activity
            android:name=".CharizardBattle"
            android:exported="false" />
        <activity
            android:name=".JessiePokemonPick"
            android:exported="false" />
        <activity
            android:name=".BattleJessie"
            android:exported="false" />
        <activity
            android:name=".GameScene6"
            android:exported="false" />
        <activity
            android:name=".GameScene5"
            android:exported="false" />
        <activity
            android:name=".GameScene4"
            android:exported="false" />
        <activity
            android:name=".GameScene3"
            android:exported="false" />
        <activity
            android:name=".GameScene2"
            android:exported="false" />
        <activity
            android:name=".GameScene1"
            android:exported="false" />
        <activity
            android:name=".TitleScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>