<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Journey"
        tools:targetApi="31">
        <activity
            android:name=".piplupsaved"
            android:exported="false" />
        <activity
            android:name=".giovanni_defeat"
            android:exported="false" />
        <activity
            android:name=".megacharizard_battle"
            android:exported="false" />
        <activity
            android:name=".giovannipokemonpick"
            android:exported="false" />
        <activity
            android:name=".lucario_battle"
            android:exported="false" />
        <activity
            android:name=".talk_giovanni"
            android:exported="false" />
        <activity
            android:name=".giovanni_glimpse"
            android:exported="false" />
        <activity
            android:name=".battle_defeat_james"
            android:exported="false" />
        <activity
            android:name=".megaswampert_battle"
            android:exported="false" />
        <activity
            android:name=".salamence_battle"
            android:exported="false" />
        <activity
            android:name=".scene7"
            android:exported="false" />
        <activity
            android:name=".battle_james"
            android:exported="false" />
        <activity
            android:name=".scizor_battle"
            android:exported="false" />
        <activity
            android:name=".battle_defeat_jessie"
            android:exported="false" />
        <activity
            android:name=".charizard_battle"
            android:exported="false" />
        <activity
            android:name=".scene6"
            android:exported="false" />
        <activity
            android:name=".scene5"
            android:exported="false" />
        <activity
            android:name=".scene4"
            android:exported="false" />
        <activity
            android:name=".scene3"
            android:exported="false" />
        <activity
            android:name=".scene2"
            android:exported="false" />
        <activity
            android:name=".scene1"
            android:exported="false" />
        <activity
            android:name=".game_screen_2"
            android:exported="false" />
        <activity
            android:name=".GameScreen"
            android:exported="false" />
        <activity
            android:name=".TitleScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>